@tailwind base;
@tailwind components;
@tailwind utilities;



.black-overla {
    position: relative;
}
.black-overlay:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.80);
}

.custom-logo {
    margin-top: -30px;
    margin-bottom: -50px;
}
.search-width {
    width: calc(100% - 300px);
    height: 50px;
    padding:0 20px;
}

.bottom-40 {
    bottom: 90px;
}

.right-10 {
    height: 56px;
    right: 110px;
}
.main-logo {
    max-width:300px;
    margin:0 auto;
    margin-bottom: -30px;
}


/* src/components/Preloader.css */
.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: fadeIn 1s ease-out forwards;
}

.preloader-content {
  text-align: center;
}

.preloader-logo {
  width: 150px;
  height: auto;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
